.container {
	background-color: grey;
	border: 3px solid blue;
	width: 400px; 
	height: 200px;
	overflow: auto;
}

.box {
	font-size: 24px;
	padding: 8px
}
.box.first {
	background-color: green;
	height: 200px;
	border: solid 2px red;
	margin: 12px;
}
.box.second {
	background-color: yellow;
	border: dotted 4px blue;
	border-bottom-style: solid;
	margin: 8px; 
}